body {
    background-color: #0e387a;
    color: #9fafca;
  }
  
  button {
    background-color: #0e387a;
    color: #9fafca;
    height: 50px;
    width: 100px;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  h1 {
    color: #9fafca;
    background-color: #0e387a;
    border-color: #9fafca;
    font-size: 500%;
  }
  